.header {
    background-color: #FFF;
    height: 45px;
}
.pagina {
    width: 45%;
    padding: 1% 0 5%;
    margin: auto;
}

.pagina .form .login {
    margin-top: -31px;
    margin-bottom: 26px;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    width: 100%;
    border: 0;
    font-size: 14px;
    background: #F2F2F2;
}

.form #btn {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #FFF;
    background-image: linear-gradient(to bottom left, #3aa786, #17744d);
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(to bottom right, #42bb89, #225e4a);
    position: relative;
    height: 97vh;
    width: 99vw;
}
